@import "tailwindcss" source("../");

@theme {
  --font-trebuc: trebuc;
  --font-bluescreen: bluescreen;
  --font-ledlight: ledlight;
  --font-altehaasreg: altehaasreg;
  --font-altehaasbold: altehaasbold;
  --font-sunlightdreams: sunlightdreams;
}

@font-face {
  font-family: trebuc;
  src: url("fonts/trebuc.ttf");
}

@font-face {
  font-family: bluescreen;
  src: url("fonts/bluescreen.ttf");
}

@font-face {
  font-family: ledlight;
  src: url("fonts/ledlight.otf");
}

@font-face {
  font-family: altehaasreg;
  src: url("fonts/altehaasreg.ttf");
}

@font-face {
  font-family: altehaasbold;
  src: url("fonts/altehaasbold.ttf");
}

@font-face {
  font-family: sunlightdreams;
  src: url("fonts/sunlightdreams.otf");
}